<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeneticSharp" version="1.0.100" targetFramework="net45" />
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net45" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net45" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.4.1" targetFramework="net45" />
  <package id="SmartThreadPool.dll" version="2.2.4" targetFramework="net45" />
</packages>